<div class="modal fade" id="CT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Formation a Bénéficiare</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                          <label for="Objectif">Beneficiare Par PPR</label>
                          <select class="form-select"  id="Objectif">
                              <option value="">a</option>
                              <option value="">z</option>
                              <option value="">x</option>
                              <option value="">v</option>
                              <option value="">d</option>
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group mb-3">
                          <label for="code">Cne</label>
                          <input type="text"  class="form-control" id="code" placeholder="Enter Cne" aria-describedby="helpId">
                      </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="code">Prénom</label>
                          <input type="text"  class="form-control" id="code" placeholder="Enter Prénom" aria-describedby="helpId">
                      </div>
                  </div>
                      <div class="col-md-6">
                        <div class="form-group mb-3">
                          <label for="code">Nom</label>
                          <input type="number" min="0"  class="form-control" id="code" placeholder="Entrer Nom" aria-describedby="helpId">
                        </div>
                      </div>
                  </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="code">Diplome</label>
                            <input type="text"  class="form-control" id="code" placeholder="Enter Diplome" aria-describedby="helpId">
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label for="cne">CNE</label>
                            <input type="text"  class="form-control" id="cne" placeholder="Enter CNE" aria-describedby="helpId">
                        </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Spécialité</label>
                        <input type="text" class="form-control" id="code" placeholder="Enter Spécialité" aria-describedby="helpId">
                      </div>
                  </div>
                </div>
                
              
              
               
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button  type="submit" class="btn btn-primary addStudent" name="Ajouter">Add</button>
            </div>
        </div>
    </div>
  </div>
  