input.form-control:focus,
input[type="text"]:focus,
[type="text"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #ffb22b;
}
select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #ffb22b;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}
.addStudent{
    background-color: #ffb22b;
    border: none;
}
.addStudent:hover{
    background-color: #ffcc66;
    border: none;
}
label{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}
.modal-title{
  color: #ffb22b;
  font-weight: bold;
  font-size: 18px;
}
/* Table Styles */
.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

/* Animation Styles */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Card Styles */
.card.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
// Table Styling
table {
  width: 100%;
  border-collapse: collapse;
}

// Table Header Styling
thead th {
  background-color: #f8f9fa;
  color: #343a40;
  border: 1px solid #dee2e6;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;

}

// Table Body Styling
tbody td {
  border: 1px solid #dee2e6;
  padding: 10px;
  font-size: 14px;
}

// Alternating Row Background
tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

// Hover Effect
tbody tr:hover {
  background-color: #e9ecef;
}

.text-warning{
  color: #ffb22b;
  font-weight: bold;

}
input.form-control:focus,
input[type="text"]:focus,
[type="text"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #ffb22b;
}
select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #ffb22b;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}
.addStudent{
    background-color: #ffb22b;
    border: none;
}
.addStudent:hover{
    background-color: #ffcc66;
    border: none;
}
label{
    font-size: 14px;
    color: #ffb22b;
    margin-bottom: 10px;
    font-weight: 500;
}
.modal-title{
  color: #ffb22b;
  font-weight: bold;
  font-size: 18px;
}
