<div class="modal fade" id="CT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Bénéficiaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">PPR</label>
              <input type="text" class="form-control" id="code" required placeholder="Enter PPR" aria-describedby="helpId" [(ngModel)]="utilisateur.ppr">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="Objectif">Fonction</label>
              <input type="text" class="form-control" id="code" required placeholder="Enter Fonction" aria-describedby="helpId" [(ngModel)]="utilisateur.fonction">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Nom</label>
              <input type="text" class="form-control" required id="code" placeholder="Enter Nom" aria-describedby="helpId" [(ngModel)]="utilisateur.nom">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Prénom</label>
              <input type="text" class="form-control" required id="code" placeholder="Enter Prénom" aria-describedby="helpId" [(ngModel)]="utilisateur.prenom">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Adresse</label>
              <input type="text" class="form-control" id="code" required
                placeholder="Enter Adresse" aria-describedby="helpId" [(ngModel)]="utilisateur.adresse">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Date du naissance</label>
              <input type="date" class="form-control" id="code" required
                placeholder="Enter Date du début d'action de la formation" aria-describedby="helpId" [(ngModel)]="utilisateur.dateDeNaissance">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Téléphone</label>
              <input type="tel" class="form-control" id="code" placeholder="Enter Nombre du Téléphone"
                aria-describedby="helpId" required [(ngModel)]="utilisateur.tel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="code">Email</label>
              <input type="email" class="form-control" id="code" placeholder="Enter email"
                aria-describedby="helpId" [(ngModel)]="utilisateur.email" required/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group mb-3">
              <label for="Objectif">Genre</label>
              <select class="form-select" id="Objectif" [(ngModel)]="utilisateur.genre" required>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>

              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-warning " name="Ajouter" (click)="onSubmit()">Ajouter</button>
      </div>
    </div>
  </div>
</div>
