<div class="modal fade" id="CT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Thématique</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="code">PPR</label>
                            <input type="text"  class="form-control" id="code" placeholder="Enter PPR" aria-describedby="helpId">
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label for="cne">CNE</label>
                            <input type="text"  class="form-control" id="cne" placeholder="Enter CNE" aria-describedby="helpId">
                        </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">CNE</label>
                        <input type="text" class="form-control" id="code" placeholder="Enter CNE" aria-describedby="helpId">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="code">Nom</label>
                        <input type="text"  class="form-control" id="code" placeholder="Enter Nom" aria-describedby="helpId">
                    </div>
                </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Prénom</label>
                        <input type="text" min="0"  class="form-control" id="code" placeholder="Prénom" aria-describedby="helpId">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="Objectif">Genre</label>
                            <select class="form-select"  id="Objectif">
                                <option value="">Masculin</option>
                                <option value="">Masculin</option>
                           
                            </select>
                         </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="code">Date du naissance</label>
                            <input type="date" class="form-control" id="code" placeholder="Enter Date du début d'action de la formation" aria-describedby="helpId">
                         </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Téléphone</label>
                        <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Nombre du Téléphone" aria-describedby="helpId">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Email</label>
                        <input type="email" min="0"  class="form-control" id="code" placeholder="Enter email" aria-describedby="helpId"/>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="Objectif">Post</label>
                        <select class="form-select"  id="Objectif">
                            <option value="">Ingénieur</option>
                            <option value="">Manager</option>
                            <option value="">Consultante</option>
                            <option value="">Analyste</option>
                            <option value="">Chef de projet	</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="code">Date du recrutement</label>
                        <input type="date" class="form-control" id="code" placeholder="Enter Date du début d'action de la formation" aria-describedby="helpId">
                     </div>
                </div>
                </div>
                <div class="row">
                  <div class="col">
                      <div class="form-group mb-3">
                        <label for="Objectif">Thématique</label>
                        <select class="form-select"  id="Objectif">
                            <option value="">a</option>
                            <option value="">z</option>
                            <option value="">x</option>
                            <option value="">v</option>
                            <option value="">d</option>
                        </select></div>
                  </div>
                  
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button  type="submit" class="btn btn-warning " name="Ajouter">Ajouter</button>
            </div>
        </div>
    </div>
  </div>
  