<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image bg-dark">
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="d-flex align-items-center justify-content-center mb-4">
                <a href="#"><img src="../../../assets/images/logos/MJ-Maroc.png" width="250"></a>
                <!-- <h3 class="login-heading m-3">Bienvenue !</h3> -->
              </div>
              <h3 class="login-heading text-center mb-4">Mot de passe oublié !</h3>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                  name="username" [(ngModel)]="email">
                <label for="floatingInput">Email</label>
              </div>
              <div class="d-grid mb-4">
                <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 bg-dark" (click)="onSubmit()">ENVOYER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
