<div class="modal fade" id="MT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Affectation par Bénéficiare</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group mb-3">
                  <label for="Objectif">Beneficiare Par PPR</label>
                  <input type="text" class="form-control" id="niveauEtude" placeholder="Beneficiare Par PPR"
                         aria-describedby="niveauEtudeHelp" [ngModel]="user.ppr?.ppr" disabled>
                </div>


              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label for="code">Thématique</label>
                    <input type="text" class="form-control" id="niveauEtude" placeholder="Beneficiare Par PPR"
                    aria-describedby="niveauEtudeHelp" [(ngModel)]="user.intitule"  disabled>
                  </div>
                </div>
                <div class="row" >
                  <div class="col">
                    <div class="form-group mb-3">
                      <label for="code">groupe</label>
                      <select class="form-select" id="beneficiarePpr" [(ngModel)]="user.id_groupe">
                        <option *ngFor="let group of user.nom" [ngValue]="group.id">
                          {{ group.numGroupe }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Fermer
                </button>
                <button type="submit" class="btn btn-warning" name="Ajouter" (click)="updateUserToGroup() ">
                  Ajouter
                </button>
              </div>
        </div>
    </div>
  </div>
