<div class="modal fade" id="MT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Affectation par Bénéficiare</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group mb-3">
                  <label for="Objectif">Beneficiare Par PPR  </label>
                  <select class="form-select" id="beneficiarePpr" >
                    <option *ngFor="let user of apiData" [ngValue]="user.id">
                      {{ user.ppr }} {{user.nom}} {{user.prenom}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label for="code">Thématique</label>
                    <select class="form-select" id="beneficiarePpr" [(ngModel)]="selectedThematique" (change)="onThematiqueChange()">
                      <option *ngFor="let them of apiDatathematique" [ngValue]="them"  >
                        {{ them.intitule }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row" *ngIf="selectedThematique">
                  <div class="col">
                    <div class="form-group mb-3">
                      <label for="code">groupe</label>
                      <select class="form-select" id="beneficiarePpr" [(ngModel)]="selectedGroupe">
                        <option *ngFor="let group of selectedThematique?.groupes" [ngValue]="group.id">
                          {{ group.numGroupe }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Fermer
                </button>
                <button type="submit" class="btn btn-warning" name="Ajouter" (click)="afecterUserToGroup() ">
                  Ajouter
                </button>
              </div>
        </div>
    </div>
  </div>
