<div class="modal fade" id="CT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Thématique</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="intitule">Intitulé de la thématique</label>
                <input type="text" class="form-control" id="intitule" placeholder="Enter Intitulé de la thématique"
                  aria-describedby="helpId"  [(ngModel)]="thematique.intitule" name="intitule">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="prestataire">Prestataire</label>
                <input type="text" class="form-control" id="prestataire" placeholder="Enter Prestataire"
                  aria-describedby="helpId" [(ngModel)]="thematique.prestataire" name="prestataire">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="domaine">Domaine de formation</label>
                <input type="text" class="form-control" id="domaine" placeholder="Enter Domaine de formation"
                  aria-describedby="helpId" [(ngModel)]="thematique.domaineFormation" name="domaine">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="population">Population cible par groupe</label>
                <input type="number" min="0" class="form-control" id="population"
                  placeholder="Population cible par groupe" aria-describedby="helpId" [(ngModel)]="thematique.populationCible"
                  name="population">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="nombreGroupes">Nombre de groupes</label>
                <input type="number" min="0" class="form-control" id="nombreGroupes" placeholder="Enter Nombre de groupes"
                  aria-describedby="helpId" [(ngModel)]="thematique.nbrGroupe" name="nombreGroupes">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="nombreJours">Nombre de jours</label>
                <input type="number" min="0" class="form-control" id="nombreJours" placeholder="Enter Nombre de jours"
                  aria-describedby="helpId" [(ngModel)]="thematique.nbrJoursFormation" name="nombreJours">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="formateursInternes">Nombre de formateurs internes</label>
                <input type="number" min="0" class="form-control" id="formateursInternes"
                  placeholder="Enter Nombre de formateurs internes" aria-describedby="helpId"
                  [(ngModel)]="thematique.nbrFormateurIntr" name="formateursInternes">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="formateursInternes">Nombre de formateurs externes</label>
                <input type="number" min="0" class="form-control" id="formateursInternes"
                  placeholder="Enter Nombre de formateurs externes" aria-describedby="helpId"
                  [(ngModel)]="thematique.nbrFormateurExtr" name="formateursInternes">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="coutLogistique">Coût logistique</label>
                <input type="number" min="0" class="form-control" id="coutLogistique" placeholder="Enter Coût logistique"
                  aria-describedby="helpId" [(ngModel)]="thematique.coutLogistique" name="coutLogistique">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="coutPedagogique">Coût pédagogique</label>
                <input type="number" min="0" class="form-control" id="coutPedagogique" placeholder="Enter Coût pédagogique"
                  aria-describedby="helpId" [(ngModel)]="thematique.coutPedagogique" name="coutPedagogique">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="dateDebut">Date du début d'action de la formation</label>
                <input type="date" class="form-control" id="dateDebut" placeholder="Enter Date du début d'action de la formation"
                  aria-describedby="helpId" [(ngModel)]="thematique.dateDebut" name="dateDebut" (change)="validateDates()">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="dateFin">Date de fin d'action de la formation</label>
                <input type="date" class="form-control" id="dateFin" placeholder="Enter Date de fin d'action de la formation"
                  aria-describedby="helpId" [(ngModel)]="thematique.dateFin" name="dateFin" [min]="thematique.dateDebut" [disabled]="isDateFinDisabled()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="objectif">Objectif</label>
                <input type="text" class="form-control" id="objectif" placeholder="Enter Objectif de formation"
                  aria-describedby="helpId" [(ngModel)]="thematique.objectif" name="objectif">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-warning" (click)="onSubmit()">Ajouter</button>
          </div>

      </div>
    </div>
  </div>
</div>
