<div class="modal fade" id="CT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter Thématique</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="code">Intitulé de la thématique</label>
                          <input type="text"  class="form-control" id="code" placeholder="Enter Intitulé de la thématique" aria-describedby="helpId">
                      </div>
                  </div>
                  <!-- <div class="col-md-4">
                      <div class="form-group mb-3">
                          <label for="cne">CNE</label>
                          <input type="text"  class="form-control" id="cne" placeholder="Enter CNE" aria-describedby="helpId">
                      </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Prestataire</label>
                      <input type="text" class="form-control" id="code" placeholder="Enter Prestataire" aria-describedby="helpId">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                      <label for="code">Domaine de formation</label>
                      <input type="text"  class="form-control" id="code" placeholder="Enter Domaine de formation" aria-describedby="helpId">
                  </div>
              </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Population cible par groupe</label>
                      <input type="number" min="0"  class="form-control" id="code" placeholder="Population cible par groupe" aria-describedby="helpId">
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Nombre de groupes</label>
                        <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Nombre de groupes" aria-describedby="helpId">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label for="code">Nombre de jours</label>
                        <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Nombre de jours" aria-describedby="helpId">
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Nombre de formateurs internes</label>
                      <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Nombre de formateurs internes" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Nombre de formateurs internes</label>
                      <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Nombre de formateurs internes" aria-describedby="helpId">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                      <label for="Objectif">Objectif</label>
                      <select class="form-select"  id="Objectif">
                          <option value="">a</option>
                          <option value="">z</option>
                          <option value="">x</option>
                          <option value="">v</option>
                          <option value="">d</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Côut logistique</label>
                      <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Côut pédagogique" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Côut pédagogique</label>
                      <input type="number" min="0"  class="form-control" id="code" placeholder="Enter Côut pédagogique" aria-describedby="helpId">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Date du début d'action de la formation</label>
                      <input type="date" class="form-control" id="code" placeholder="Enter Date du début d'action de la formation" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="code">Date du début d'action de la formation</label>
                      <input type="date"  class="form-control" id="code" placeholder="Enter Date du début d'action de la formation" aria-describedby="helpId">
                    </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button  type="submit" class="btn btn-primary addStudent" name="Ajouter">Add</button>
          </div>
      </div>
  </div>
</div>
