<div class="row">
  <div class="col-lg-12">
    <div class="card w-100">
      <div class="p-3 d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0 text-warning">Bénéficiaires</h4>
        <button
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#CT"
        >
          <i class="bi bi-file-earmark-plus"></i> Ajouter
        </button>
      </div>
      <div class="card-body border-top">
        <div class="table-responsive">
          <table
            id="example"
            class="display nowrap cell-border"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th class="text-warning font-medium fs-4">ID</th>
                <th class="text-warning font-medium fs-4">PPR</th>
                <th class="text-warning font-medium fs-4">CNE</th>
                <th class="text-warning font-medium fs-4">Date de Naissance</th>
                <th class="text-warning font-medium fs-4">Email</th>
                <th class="text-warning font-medium fs-4">Fonction</th>
                <th class="text-warning font-medium fs-4">Genre</th>
                <th class="text-warning font-medium fs-4">Nom</th>
                <th class="text-warning font-medium fs-4">Prénom</th>
                <th class="text-warning font-medium fs-4">Téléphone</th>
                <th class="text-warning font-medium fs-4">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of apiData">
                <td>{{ item.id }}</td>
                <td>{{ item.ppr }}</td>
                <td>{{ item.cne }}</td>
                <td>{{ item.date_naissance }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.fonction }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.nom }}</td>
                <td>{{ item.prenom }}</td>
                <td>{{ item.telephone }}</td>

                <td class="d-flex justify-content-between">
                  <button
                    class="btn btn-info btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#CT"
                  >
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  <button
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#MT"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#ST"
                  >
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-create-beneficiaiares></app-create-beneficiaiares>
<app-modifier-beneficiaiares></app-modifier-beneficiaiares>
<app-supprimer-beneficiaiares></app-supprimer-beneficiaiares>
