<div class="row mt-5">
  <div class="col-lg-12">
    <div class="card w-100">
      <div class="p-3 d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0 text-warning">Fiche Présence</h4>
        <button class="btn btn-warning" (click)="printSection()" *ngIf="themfltr.length>0">
          <i class="bi bi-file-earmark-plus"></i> Imprimer
        </button>
      </div>
      <div class="card-body border-top ">
        <div class="mt-1">
          <div class="row g-3 align-items-center">
            <div class="col-md-4">
              <div class="form-group mb-3">
                <label for="beneficiarePpr">Thématique</label>
                <select class="form-select" id="beneficiarePpr" [(ngModel)]="selectedThematique"
                  (change)="onThematiqueChange(); filterJoursFormation()">
                  <option *ngFor="let them of apiData" [ngValue]="them">
                    {{ them.intitule }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4" *ngIf="selectedThematique">
              <div class="form-group mb-3">
                <label for="beneficiareGroupe">Groupe</label>
                <select class="form-select" id="beneficiareGroupe" [(ngModel)]="selectedGroupe" (change)="ff()">
                  <option *ngFor="let group of selectedThematique?.groupes" [ngValue]="group">
                    {{ group.numGroupe }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4" *ngIf="selectedThematique">
              <div class="form-group mb-3">
                <label for="beneficiareJour">Choisir un jour de formation</label>
                <select class="form-select" id="beneficiareJour" [(ngModel)]="selecteddate"
                  (change)="getuserbygroupe()">
                  <option *ngFor="let jour of joursFormation" [value]="jour">
                    {{ jour }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="mt-2 btn btn-warning" (click)="saveabsence()" *ngIf="themfltr.length>0">
              Enregistrer
            </button>
          </div>
        </div>
        <h4 *ngIf="selecteddate" class="card-title mt-3 text-warning text-center">
          {{ title }}
        </h4>
        <div class="table-responsive">
          <table id="lexample" class="display nowrap cell-border" style="width: 100%" *ngIf="selecteddate">
            <thead>
              <tr>
                <th class="text-warning font-medium fs-4">PPR</th>
                <th class="text-warning font-medium fs-4">CNE</th>

                <th class="text-warning font-medium fs-4">Nom</th>
                <th class="text-warning font-medium fs-4">Prénom</th>
                <th class="text-warning font-medium fs-4">thématique</th>

                <th class="text-warning font-medium fs-4">Actions</th>
              </tr>
            </thead>

            <tbody id="prt">
              <tr *ngFor="let utilisateur of themfltr">
                <td>{{ utilisateur.ppr }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.intitule }}</td>
                <td>{{ utilisateur.groupe }}   {{ utilisateur.isPresent }}</td>
                <!-- <td>
                  <div class="form-group">
                    <select class="form-select" [(ngModel)]="utilisateur.isPresent" (change)="toggleAttendance(utilisateur.ppr)">
                      <option [value]="true">present</option>
                      <option [value]="false">absence</option>
                    </select>
                  </div>
                </td> -->

                <td>
                  <div class="form-group">
                    <select class="form-select" [(ngModel)]="utilisateur.isPresent" (change)="toggleAttendance(utilisateur.ppr)">
                      <option [ngValue]="true">present</option>
                      <option [ngValue]="false">absence</option>
                    </select>
                  </div>
                </td>



              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<app-imprimer-fiche-presence></app-imprimer-fiche-presence>
